# 讀取資料
---

- EXCEL
- txt

---
## EXCEL，即.xlsx

In [1]:
import pandas as pd
from pandas import ExcelFile

In [2]:
df = pd.read_excel('../data_myself/data.xlsx', sheet_name = 'Sheet1')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

   X   Y
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [5]:
X = list(df['X'])
Y = list(df['Y'])

In [6]:
X

[1, 2, 3, 4, 5]

In [7]:
type(X)

list

In [8]:
Y

[10, 20, 30, 40, 50]

## txt，即.txt

In [9]:
X = []
Y = []

with open(file = '../data_myself/values.txt', mode = 'r') as myfile:
    for line in myfile:
        Y.append( int(line) )

In [10]:
X = list(range(0,len(Y)+1))

In [11]:
print(X)

[0, 1, 2, 3, 4, 5]

In [12]:
type(X)

list

In [13]:
print(Y)

[10, 20, 30, 40, 50]

In [14]:
type(Y)

list